name: Testes Automatizados

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v2

    - name: Configuração do Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 12

    - name: Instalar dependências
      run: yarn install

    - name: Executar testes com Cypress
      run: npx cypress run